<h1> Welcome to Surefire Studio Musical Book</h1>

 <p> Click here to book a new session</p>
 <%= link_to "BOOK A SESSION", "studio_sessions/new"%>

 <p> Click here to see the artist directory</p>
 <%= link_to "Artist Directory", "artists/index"%>

 <p> Click to see all the Surefire Engineers</p>
 <%= link_to "Engineers", "music_engineers/index"%>